/* DumpPage */
.dump-page {
  width:600px;
  margin:0 auto;
}

/* 본문 영역 */
.dump-container {
  display: flex;
  flex-direction: column;
}

/* 페이지 제목 영역 */
.dump-header {
}

.dump-header h1 {
}

.dump-header p {
}